<%- include('../partials/header.ejs') %>
<main>
    <h2 class="month-title">November</h2>
    <% if(events.length) {%>
        <% events.forEach(event=>{ %>
            <div class="event-listing">
                <h4 class="event-title"><%= event.title  %></h4>
                <p><%= event.location%> | <%= event.date%></p>
            </div>
        <% });
    } else { %>
        <p>There are no events to display</p>
    <% } %>
</main>
<%- include('../partials/footer.ejs') %>