<%- include('../partials/header.ejs') %>
<main>
  <head>
    
  </head>
<div class="rsvp card flex-row">
    <div class="event-details">
        <h1><%=event.title%></h1>
        <h3><%= event.location%> | <%= event.date%></h3>
    </div>
    <div class="rsvp form">
        <form>
            <div class="div">
              <label for="email" class="form-label">Email:</label>
              <input class="form-control" type="email" name="email" placeholder="Enter your email:">
              <input class="btn btn-primary" value="RSVP" style="vertical-align: middle;">
            </div>
          </form>

    </div>
</div>
</main>
<%- include('../partials/footer.ejs') %>