<!--This is where we will show the client/admin the event-->
<%- include('../partials/header.ejs') %>
<main>
    <h2 id="eventTitle"><%= event.title%></h2>
    <div class="eventDetail">
        <p><img src='/images/location-icon.png' height="15px" width="20px"><%= event.location%></p>
        <p><img src='/images/clock-icon.png' height="20px" width="22px"><%= event.date %></p>
    </div>
    <div class="eventDesc">
        <p><b>Event hosted by <%= event.host%></b></p>
        <p><%= event.details%></p>
    </div>

    <br>
    <form>
        <button id="rsvpBtn" formaction="/client/<%= event.id%>/rsvp">Want to attend? RSVP!</button>
    </form>
    <br><br>
    
    
</main>
<%- include('../partials/footer.ejs') %>